<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PREDICT NOW!!</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="predict_now.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="nav">
      <a href="../../index.html" class="link">HOME</a>
      <a href="#" class="link">PREDICT NOW!! </a
      ><a href="../glossary/glossary.html" class="link">GLOSSARY</a
      ><a href="../about_us/about_us.html" class="link">ABOUT US</a>
    </section>
    <div class="select">
      <div class="date">
        <h1>Select a Date:</h1>
        <input type="date" id="datePicker" required />
        <div id="selectedDate"></div>
      </div>
      <div class="time">
        <h1>Select a Time:</h1>
        <input type="time" id="timePicker" required />
        <div id="selectedTime"></div>
      </div>
      <div class="steps">
        <h1>How to use?</h1>
        <ul>
          <li>Select a date.</li>
          <li>Select a time.</li>
          <li>Press Predict and see the Results!!</li>
        </ul>
      </div>
    </div>
    <button class="predict">Predict</button>
    <div class="predicted--data">
      <div class="current--data">
        <h1>PM2.5</h1>
        <h1 class="pm2">-</h1>
      </div>
      <div class="data--graph">
        <canvas id="barChart" width="400" height="400"></canvas>
        <h1>1 week</h1>
      </div>
    </div>
    <div class="info">
      <h2>What is PM2.5?</h2>
      <p>
        PM2.5, or Particulate Matter 2.5, refers to tiny airborne particles in
        the atmosphere that have a diameter of 2.5 micrometers or smaller. These
        particles can include dust, pollen, soot, and other pollutants. PM2.5 is
        a significant air quality indicator because these fine particles can
        penetrate deep into the lungs and even enter the bloodstream, posing
        serious health risks, especially for respiratory and cardiovascular
        health.
        <br />
        <h2>How it is calculated in INDIA?</h2>
        In India, PM2.5 levels are typically measured using air quality
        monitoring stations equipped with instruments such as beta attenuation
        monitors or nephelometers. These devices collect data on the
        concentration of PM2.5 particles in the air over a specified time
        period, usually measured in micrograms per cubic meter (µg/m³). The data
        from multiple monitoring stations are aggregated to calculate the air
        quality index (AQI), which categorizes air quality into different
        levels, ranging from "Good" to "Hazardous," providing valuable
        information for public health and environmental management.
      </p>
      <h2>How We calculated??</h2>
      <p>In our predictive model for PM2.5 levels, we employ a Random Forest algorithm, a powerful ensemble learning technique that combines multiple decision trees to enhance accuracy. To initialize the model, we specify two critical parameters: the number of decision trees (n_estimators) and a reference date. This reference date serves as our temporal anchor point, allowing us to convert input dates into a common unit of measurement, namely hours elapsed since the reference date.

        Training and fitting the model involve utilizing 80% of our dataset as training data. During this process, the model learns patterns and relationships between various features (e.g., meteorological data, pollution levels) and the target variable (PM2.5 levels).
        
        Once trained, our model accepts a specific datetime string in the format "Year-Month-Day Hour" as input. It then utilizes the ensemble of decision trees to make predictions for the PM2.5 level at that precise moment in time. Additionally, our model provides the capability to forecast PM2.5 levels for up to three days before and after the input date, offering valuable insights into air quality trends.
        
        This comprehensive approach not only facilitates accurate point-in-time predictions but also empowers users to explore PM2.5 level fluctuations in the surrounding temporal context, aiding in better understanding and proactive decision-making regarding air quality concerns.</p>
      <p style="font-weight: bolder;">**This is not our main focus. Our Main focus will be AQI, WQI and environmental parameters.</p>
    </div>
    <footer>
      <div class="company_name">
        <h1>CARBONCATCHERS</h1>
      </div>
      <div class="links">
        <a href="../../index.html">HOME</a>
        <a href="../glossary/glossary.html">GLOSSARY</a>
        <a href="../about_us/about_us.html">ABOUT US</a>
      </div>
      <p style="color: white; background-color: black;">© 2023 Carbon Catchers. All rights reserved</p>
    </footer>

    <script src="predict_now.js"></script>
  </body>
</html>
